/* LIST VIEW ELEMENT */
.list-view {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bottom-row {
    font-size: 20px;
    height: 30px;
    color: var(--col-secondary);
}

.category-header {
    font-size: 22px;
    width: 98%;
    padding-left: 5px;
    background-color: var(--col-secondary);
    color: white;
}

.dashboard-header {
    font-size: 1.65rem;
    margin-left: 20px;
    margin-top: 10px;
}

.deleteColumn {
    text-align: center;
    /* display: flex;
    justify-content: center; */
}

.editColumn {
    text-align: center;
}

.shopping-list-view {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    padding: 0 20px;
    overflow: hidden;
}

.list-view-categories {
    flex-grow: 1;
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.list-view-categories::-webkit-scrollbar {
    width: 2px;
    background-color: transparent;
}

.list-view-categories::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--col-primary);
}


.list-view .list-view-categories table {
    width: 100%;
}

.list-view .list-view-total-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: fit-content;
    height: 40px;
    margin: 5px 0 5px auto;
    padding: 20px;
    border-radius: 50px;
    background-color: var(--col-primary);
    color: white;
}

.list-view .list-view-total-container p {
    font-size: 1.25rem;
    font-weight: 600;
}

.list-view .list-view-total-container span {
    color: var(--col-secondary);
}

/* List header */
.list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--col-secondary);
}

.list-header h1 {
    font-size: 1.5rem;
    font-weight: 400;
}