/* Import the Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap');

@import url(variables.css);
@import url(buttons.css);
@import url(login.css);
@import url(side-bar.css);
@import url(list-view.css);
@import url(form-container.css);

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.content {
    display: flex;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
