:root {
    --col-primary: #462255;
    --col-primary-light: #955cad;
    --col-danger: crimson;
    --col-secondary: #76ec76;
    --col-lightgrey: #ebebee;
    --col-secondarygrey: #858585;
    --col-overlay-primary: #4622553a;
}

* {    
    font-family: 'Roboto', 'Arial', 'Tahoma', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}